/* div{
  height:18rem;
    width:16rem;
    background-color:blue;
}
.backMode{
    background-color:red ;
    color: azure; 
}
    body{
  display: flex;
  justify-content: center;
  height:40rem;
 align-items: center;
 margin: 0;
 } */
